body {
    font-family: Consolas, Osaka-mono, 'Courier New', monospace;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 10pt;
    background: whitesmoke;
	margin: 0;
	padding: 0;
}

div.src {
	padding: 0.8em 0.4em 0.8em 0.4em;
    margin-left: 4.5em;
    background: white;
    border-left: 1px solid darkgray;
}

span.hook {
    position: relative;
	/* Dummy. We need it to properly position line num */
	border-left: 1px solid transparent;
	margin-left: -1px;
}

span.srcl:before {
    content: attr(ln);
    color: darkgray;
    position: absolute;
    left: -4.5em;
}

span.sptag {
    color: green;
}

span.elm {
    color: purple;
    font-weight: bold;
}

span.atn {
    font-weight: bold;
}

span.atv {
    color: blue;
}

span.err {
    color: red;
    font-weight: bold;
}
